﻿<div class="page">
    <!-- header -->
    <page-header></page-header>

    <!-- nav -->
    <page-navigation></page-navigation>
    
    <!-- Angular-UI-Router entry point -->
    <div ui-view></div>

    <!-- footer -->
    <page-footer></page-footer>
</div>