﻿<nav>
    <div class="page-navigation">
        Navigation
        <ul>
            <li>
                <a ui-sref="home()">Home</a>
            </li>
            <li>
                <!-- use either normal href's -->
                <a href="/subsection1/">Subsection 1</a>
            </li>
            <li>
                <!-- or state-based ui-sref's, when convenient -->
                <a ui-sref="subsection2.page()">Subsection 2</a>
            </li>
        </ul>
    </div>
</nav>